<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=.\sqlexpress;Initial Catalog=testframework;User Id=sa;Password=password"/>
    <!--add name="connection" connectionString="Server=localhost;Uid=root;Pwd=password;Database=testframework;Pooling=true; Min Pool Size=0; Max Pool Size=100;"/-->
    <!--add name="connection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=G:\My projects\BinhORM\TestFrameWork.mdb;User Id=admin;Password=;" /-->
  </connectionStrings>
  <appSettings>
    <add key="factory" value="SystemFramework.Common.QueryBase.Sql.SqlServerFactory"/>
    <!--add key="factory" value="SystemFramework.Common.QueryBase.MySql.MySqlFactory"/-->
    <!--add key="factory" value="SystemFramework.Common.QueryBase.OleDb.OleDbFactory" /-->
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
